

body{
    background-color: var(--bg-dark);
    height: 100vh;
    width: 100%;
}

main{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

.Login{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

Form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    width: 500px;
    min-width: 250px;
    background-color: var(--panel-bg);
    padding: 15px;
    border-radius: 20px;
}
Form label {
    margin-top: 2px;
    margin-bottom: 1px;
    color: var(--text-secondary);
}
Form h1 {
    color: var(--text-primary);
}
Form input {
    height: 30px;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--text-primary);
}
Form button {
    height: 25px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: var(--accent-color);
    color: var(--text-primary);
}
Form #MEer {
    padding: 20px;
    color: white;
}